@import "tailwindcss";

@theme inline {
  --color-pgf-primary: #8C2230; /* Maroon/Saffron */
  --color-pgf-secondary: #EAA81B; /* Golden Yellow */
  --color-pgf-accent: #1E3A8A; /* Deep Blue */
  
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}
